<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

	<p>
		Splurty was built by Patrick, an aspiring Rubyist and Developer. Patrick signed up for the Firehose Project with the intention of seeking a developer position upon completing the program.
	</p>

	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'patrick.jpg', :class => 'img-responsive' %>
	</div>

	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-center">Patrick Shushereba</h2>

	<br />
	<p>
		Patrick is a graduate of Cal Poly Pomona, with a degree in Political Science. He hopes to combine his critical thinking and problem solving skills with his new found ability to code in order to find solutions to contemporary problems.
	</p>
</div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />